body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#drawer{
	z-index: 50
}

calendar-lite .mainHeader{
	display: none;
}

calendar-lite{
	width: 100% !important;
	max-width: 400px;
	margin: 0 auto;
	display: table!important;
	border: none !important;
}